language: node_js
node_js:
  - "0.10"
  - "0.11"
  - "0.12"
  - "4"
  - "5"
  - "iojs"
branches:
  only:
    - master
after_script:
  - "npm install -g coveralls"
  - "cat ./coverage/lcov.info | coveralls"
  - "rm -rf ./coverage"
